{% extends "@OCAS/layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="/static/css/form.css">
{% endblock %}
{# changer l'heritage de template #}
{% block title %}{{h1}}{% endblock %}
{% block header %}{{h1}}{% endblock %}
{% block content %}

<div class="col-8 offset-2">
  {% form_theme form "bootstrap_4_horizontal_layout.html.twig" %}
  {{form_errors(form)}}
  {{ form_start(form)}}
  {{ form_row(form.nom) }}
  {{ form_row(form.fonction) }}
  {{ form_row(form.ville) }}
  {{ form_row(form.naissance) }}
  {{ form_row(form.titre) }}
  {{ form_row(form.nationalite) }}
  {{ form_row(form.quotite) }}
  {{ form_row(form.statut) }}
  {{ form_row(form.agence) }}

  {#}{% form_theme form "bootstrap_4_layout.html.twig" %}#}
  <div>
    {{ form_row(form.detail_session, {
      'label_attr': {'id':'detail'}
    }) }}
    {{ form_rest(form) }}
</div>
  {{ form_row(form.enregistrer )}}
  <a role="button" href="{{ path('stagiaire_list')}}" class="btn btn-primary">Retour à la liste</a>
  {% if id is defined %}
    <a role="submit" href="{{ path('stagiaire_delete',{'id': stagiaire.id })}}" class="btn btn-danger">Supprimer le stagiaire</a>
  {% endif %}
  </div>


<script src="{{ asset('/static/js/stagiaire.js') }}" charset="utf-8"></script>
{% endblock %}
