{% extends "@OCAS/layout.html.twig" %}

{% block title %}Stagiaire{% endblock %}
{% block header %}{{h1}}{{stagiaire.nom}}{% endblock %}

{% block content %}

{% block list %}
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-7" scope="row">Formation</th>
      <th class="col-sm-1">Groupe</th>
      <th class="col-sm-2">Intervenant</th>
      <th class="col-sm-4">Lieu</th>
      <th class="col-sm-1">Date de formation</th>

      <th class="col-sm-1"><a role="button" href="{{ path('session_add') }}" class="btn btn-sm btn-success">Ajouter</a></th>
    </tr>
  </thead>
  <tbody>

{% for session in sessions %}
<tr>
    <th class="col-sm-7" scope="row"><a href="{{ path('session_edit',{'id': session.id }) }}">{{ session.libelleFormation.libelle }}</a></td>
  <td class="col-sm-1">{{ session.groupe }}</td>
  <td class="col-sm-2">
    {% for intervenant in session.intervenants %}
      {{ intervenant.nom}}
    {% endfor %}
  </td>
  <td class="col-sm-4">{{ session.lieu|default("lieu") }}</td>
  <td class="col-sm-1">{{ session.dateDebut|date("d/m/Y")}}</td>
  <td class="col-sm-1">
  {% if session.missionEdite and session.feuilleEdite %}
    <a role="button" href="{{ path('session_generate',{'id': session.id }) }}" class="btn btn-sm btn-secondary">Génerer</a>
  {% else %}
    <a role="button" href="{{ path('session_generate',{'id': session.id }) }}" class="btn btn-sm  btn-success">Génerer</a>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}
<a role="button" href="{{ path('stagiaire_list')}}" class="btn btn-primary offset-2">Retour à la liste</a>
{% endblock %}
