{% extends "@OCAS/layout.html.twig" %}

{% block title %}OCASBundle:Detail_emargement:add{% endblock %}

{% block content %}
<h1>{{h1}}</h1>
<div class="col-8 offset-2">
  {% form_theme form "bootstrap_4_horizontal_layout.html.twig" %}
  {{ form_start(form)}}
  {{ form_widget(form)}}
  {{form_end(form)}}
  <a role="button" href="{{ path('detail_list',{'id': id_feuille })}}" class="btn btn-primary">Retour à la feuille d'émargement</a>
  {% if id is defined %}
    <a role="submit" href="{{ path('detail_delete',{'id': id_feuille })}}" class="btn btn-danger">Supprimer</a>
  {% endif %}
  </div>
{% endblock %}
