{% extends "@OCAS/layout.html.twig" %}

{% block title %}Liste des stagiaires pour la formation X{% endblock %}
{% block header %}
Liste des stagiaires pour la formation X
{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="row">Stagiaire</th>
      <th>Type Formation</th>
      <th>heure présent</th>
      <th>heure absent</th>
      <th>heure facturée</th>
      <th></th>
      <th><a role="button" href="{{ path('detail_add',{'feuille_id': id_feuille }) }}" class="btn btn-success">Ajouter</a></th>
    </tr>
  </thead>
  <tbody>
{% for detail in details %}
<tr>
  <th scope="row"><a href="{{path('stagiaire_edit',{'id': detail.stagiaire.id})}}">{{ detail.stagiaire.nom }}</a></th>
  <td>{{ detail.typeFormation }}</td>
  <td>{{ detail.hPresent }}</td>
  <td>{{ detail.hAbsent }}</td>
  <td>{{ detail.hFacture }}</td>
  <td><a role="button" href="{{ path('detail_edit',{'id' : detail.id,'feuille_id' : id_feuille }) }}" class="btn btn-warning">Modifier</a></td>
  <td><a role="submit" href="{{ path('detail_delete',{'id': detail.id ,'feuille_id' : id_feuille })}}" class="btn btn-danger">Supprimer</a></td>
</tr>
{% endfor %}

</tbody>
</table>
<div class="col-sm-8 offset-4">{{ knp_pagination_render(details) }}</div>
{% endblock %}
