{% extends "@OCAS/layout.html.twig" %}

{% block title %}Liste des stagiaires pour la formation X{% endblock %}
{% block header %}{{h1}}{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="row">Stagiaire</th>
      <th>heure présent</th>
      <th>heure absent</th>
      <th>heure facturée</th>
      <th>
        {% if details is not empty %}
        <a role="button" href="{{ path('detail_edit',{'id' : details[0].id,'session_id' : id_session }) }}" class="btn btn-sm btn-success">Saisir les absences</a>
        {% endif %}
      </th>
    </tr>
  </thead>
  <tbody>
{% for detail in details %}
<tr>
  <th scope="row">{{ detail.nom }}</a></th>
  <td>{{ detail.hPresent }}</td>
  <td>{{ detail.hAbsent }}</td>
  <td>{{ detail.hFacture }}</td>
  <td><a role="button" href="{{ path('detail_edit',{'id' : detail.id,'session_id' : id_session }) }}" class="btn btn-sm btn-primary">Saisir absence</a></td>
</tr>
{% endfor %}

</tbody>
</table>
<div class="col-sm-8 offset-4">{{ knp_pagination_render(details) }}</div>
{% endblock %}
