{% extends "@OCAS/layout.html.twig" %}

{% block title %}{{h1}}{% endblock %}
{% block header %}{{h1}}{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th class="col-sm-7" scope="row">Formation</th>
      <th class="col-sm-1">Groupe</th>
      <th class="col-sm-2">Intervenant</th>
      <th class="col-sm-4">Lieu</th>
      <th class="col-sm-1">Horaire</th>
      <th class="col-sm-1">Date de retour</th>
      <th class="col-sm-1">Présents</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

{% for session in sessions %}
<tr>
    <th class="col-sm-7" scope="row"><a href="{{ path('session_edit',{'id': session.id }) }}">{{ session.libelleFormation.libelle }}</a></td>
  <td class="col-sm-1">{{ session.groupe }}</td>
  <td class="col-sm-2">
    {% for intervenant in session.intervenants %}
      {{ intervenant.nom}}
    {% endfor %}
  </td>
  <td class="col-sm-4">{{ session.lieu|default("lieu") }}</td>
  <td class="col-sm-1">{{ session.dateDebut|date("H:i") }}</td>
  <td class="col-sm-1">{{ session.dateRetour|date("d/m/Y") }}</td>
  <td class="col-sm-1">{{ listePresent[loop.index0][1] }}/{{listeInscrit[loop.index0][1]}}</td>

  <td class="col-sm-1"><a role="button" href="{{ path('detail_list',{'session_id': session.id }) }}" class="btn btn-sm btn-warning">Liste des absents</a></td>

</tr>
{% endfor %}

</tbody>
</table>
<div class="col-sm-8 offset-4">{{ knp_pagination_render(sessions) }}</div>
{% endblock %}
