{% extends "@OCAS/layout.html.twig" %}

{% block title %}liste des formateurs{% endblock %}
{% block header %}
Liste des formateurs
{% endblock %}

{% block content %}
{% block form %}{% endblock %}

{% block list %}
<table class="table">
  <thead>
    <tr>
      <th scope="row">Nom</th>
      <th>Adresse</th>
      <th></th>
      <th><a role="button" href="{{ path('formateur_add') }}" class="btn btn-success">Ajouter</a></th>
    </tr>
  </thead>
  <tbody>

  {% for formateur in formateurs %}

  <tr>
    <th scope="row"><a href="{{ path('formateur_edit',{'id': formateur.id }) }}">{{ formateur.nom }}</a></th>
    <td>{{formateur.adresse}}</td>
    <td><a role="button" href="{{ path('formateur_edit',{'id': formateur.id }) }}" class="btn btn-warning">Modifier</a></td>
    <td><a role="submit" href="{{ path('formateur_delete',{'id': formateur.id })}}" class="btn btn-danger">Supprimer</a></td>
  </tr>
  {% endfor %}



  </tbody>
  </table>
  {% endblock list %}

{% block retour %}{% endblock %}

{% block pagination %}
<div class="col-sm-8 offset-4">{{ knp_pagination_render(formateurs) }}</div>
{% endblock %}
{% endblock %}
