{% extends "@OCAS/layout.html.twig" %}
{# changer l'heritage de template #}
{% block title %}{{h1}}{% endblock %}

{% block content %}
<h1>{{ h1 }}</h1>

<div class="col-8 offset-2">
  {% form_theme form "bootstrap_4_horizontal_layout.html.twig" %}
  {{ form(form)}}

  {{form_start(searchform, {action:path('stagiaire_search')})}}
  <a role="button" href="{{ path('feuille_list')}}" class="btn btn-primary">Retour à la liste</a>
  {% if id is defined %}
    <a role="submit" href="{{ path('feuille_delete',{'id': feuille.id })}}" class="btn btn-danger">Supprimer</a>
  {% endif %}
  </div>
{% endblock %}
