{% extends "@OCAS/layout.html.twig" %}

{% block title %}liste des formations{% endblock %}
{% block header %}{{h1}}{% endblock %}

{% block content %}
{% block form %}{% endblock %}

{% block list %}
<table class="table">
  <thead>
    <tr>
      <th scope="row">Libelle</th>
      <th>Date debut</th>
      <th>Date fin</th>
      <th>Lieu</th>
      <th>Observation</th>
      <th></th>
      <th><a role="button" href="{{ path('formation_add') }}" class="btn btn-success">Ajouter</a></th>
    </tr>
  </thead>
  <tbody>

  {% for formation in formations %}

  <tr>
    <th scope="row"><a href="{{ path('formation_edit',{'id': formation.id }) }}">{{ formation.libelle }}</a></th>
    {#<td>{{formation.libelleFormation.libelle}}</td>#}
    <td>{{formation.dateDebut|date("d/m/Y")}}</td>
    <td>{{formation.dateFin|date("d/m/Y")}}</td>
    <td>{{formation.lieu}}</td>
    <td>{{formation.observation}}</td>
    <td><a role="button" href="{{ path('formation_edit',{'id': formation.id }) }}" class="btn btn-warning">Modifier</a></td>
    <td><a role="submit" href="{{ path('formation_delete',{'id': formation.id })}}" class="btn btn-danger">Supprimer</a></td>
  </tr>
  {% endfor %}



  </tbody>
  </table>
  {% endblock list %}

{% block retour %}{% endblock %}

{% block pagination %}
<div class="col-sm-8 offset-4">{{ knp_pagination_render(formations) }}</div>
{% endblock %}
{% endblock %}
