{% extends "@OCAS/layout.html.twig" %}

{% block title %}liste des formations{% endblock %}
{% block header %}{{h1}}{% endblock %}

{% block content %}
{% block form %}{% endblock %}

{% block list %}
<table class="table">
  <thead>
    <tr>
      <th scope="row">Libelle</th>
      <th>
        <a role="button" href="{{ path('formation_add') }}" class="btn btn-sm btn-success">Ajouter</a></th>
      </th>
    </tr>
  </thead>
  <tbody>

  {% for formation in formations %}

  <tr>
    <th scope="row"><a href="{{ path('session_libelle',{'id': formation.id }) }}">{{ formation.libelle }}</a></th>
  </tr>
  {% endfor %}



  </tbody>
  </table>
  {% endblock list %}

{% block retour %}{% endblock %}

{% block pagination %}
<div class="col-sm-8 offset-4">{{ knp_pagination_render(formations) }}</div>
{% endblock %}
{% endblock %}
