{% extends "@OCAS/layout.html.twig" %}
{# changer l'heritage de template #}
{% block title %}{{h1}}{% endblock %}
{% block header %}{{h1}}{% endblock %}
{% block content %}

<div class="col-8 offset-2">
  <a role="button" href="{{ path('session_edit', {'id':session.id})}}" class="btn btn-primary">Retour à la session</a>
  {% if session.missionEdite %}
    <a role="button" href="{{ path('session_mission', {'id':session.id})}}" class="btn btn-secondary">Génerer les odres de mission</a>
  {% else %}
      <a role="button" href="{{ path('session_mission', {'id':session.id})}}" class="btn btn-success">Génerer les odres de mission</a>
  {% endif %}
  {% if session.feuilleEdite %}
    <a role="button" href="{{ path('session_feuille', {'id':session.id})}}" class="btn btn-secondary">Génerer les feuilles d'émargements</a>
  {% else %}
      <a role="button" href="{{ path('session_feuille', {'id':session.id})}}" class="btn btn-success">Génerer les feuilles d'émargements</a>
  {% endif %}
  </div>
{% endblock %}
