{# src/OC/PlatformBundle/Resources/views/delete.html.twig #}


{% extends "@OCAS/layout.html.twig" %}


{% block title %}

  Supprimer un stagiaire - {{ parent() }}

{% endblock %}
{% block content %}
<div class="col-sm-6 offset-sm-4 ">
  <h2>Supprimer un stagiaire</h2>
  <p>
    Etes-vous certain de vouloir supprimer "{{ stagiaire.nom }}" ?
  </p>

  <form action="{{ path('stagiaire_delete', {'id': stagiaire.id}) }}" method="post" class="align-self-center">
    <a href="{{ path('stagiaire_list', {'id': stagiaire.id}) }}" class="btn btn-primary">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>
</div>
{% endblock %}
